.dashboard-container {
  width: 880px;
  max-width: 880px;
  padding: 40px 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-radius: 8px;
  min-height: 700px; 
  margin: 40px 0px;
  background-color: #2b2b2b;
}

h1, h2 {
  text-align: center;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

form input {
  width: 100%;
  max-width: 650px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  max-height: 40px;
}

form button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  max-height: 40px;
}

form button:hover {
  background-color: #0056b3;
}

.repos-container {
  margin-top: 20px;
}

.repos-container select {
  margin-bottom: 10px;
  padding: 5px;
}

.repos-container {
  margin-top: 20px;
}

.repos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.space-name img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.details {
  display: flex;
  flex-direction: column;
}

.space-down{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.space-name{
  display: flex;
  align-items: center;
}

.space-followers{
  display: flex;
  align-items: center;
  gap: 20px;
}

.sort-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.repos-container select {
  margin-bottom: 10px;
  padding: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
}

ul li:hover {
  background-color: #040404;
}

.repo-details {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.repo-details a {
  color: #007bff;
  text-decoration: none;
}

.repo-details a:hover {
  text-decoration: underline;
}
